@import '~antd/dist/antd.css';

.App {
  padding-top: 30px;
  text-align: center;
}

.table {
  position: relative;
  margin: auto;
  max-width: 1000px;
}

.table-item {
  padding: 7px;
  outline: 1px solid black;
}

.header-table-item {
  text-align: center;
  font-weight: bold;
}

.main {
  text-align: center;
}

.active {
  position: absolute;
  z-index: 100;
  transform: translate(10px, -10px)
}

.disable {
  display: none;
}
