.App {
  padding-top: 30px;
  text-align: center;
}

.table {
  margin: auto;
  max-width: 1000px;
}

.table-item {
  padding: 7px;
  outline: 1px solid black;
}

.header-table-item {
  text-align: center;
  font-weight: bold;
}

.delete {
  padding: 10px;
  cursor: pointer;
  transition: .2s all;
}

.delete:hover {
  transform: scale(1.1);
} 